.main{
	width: 100%;
	margin-top: 15px;
	text-align: center;
}

.inputForm{
	width: 50%;
	margin-top: 10px;
	padding: 10px 10px;
	border: 2px solid  #BF1363;
	border-radius: 7px;
}
.btn{
	margin-top: 20px;
}